option_settings:
  aws:elasticbeanstalk:application:environment:
    spring.profiles.active: "dev"
Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: <vpc-id>
      SecurityGroupIngress:
        - CidrIp: <ingress-cidr>
          FromPort: <port-number>
          ToPort: <port-number>
          IpProtocol: tcp
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300
  AWSEBV2LoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
Outputs:
  LoadBalancerArn:
    Value: { "Ref" : "AWSEBV2LoadBalancer" }
    Description: The Arn of the Load Balancer