# files:  
#   "target file location on disk": 
#      mode: "six-digit octal value"
#      owner: name of owning user for file
#      group: name of owning group for file
#      source: URL
#      authentication: authentication name:

#   "target file location on disk": 
#      mode: "six-digit octal value"
#      owner: name of owning user for file
#      group: name of owning group for file
#      content: |
#       # this is my
#       # file content
#      encoding: encoding format
#      authentication: authentication name:
files:
  "/home/ec2-user/myfile2" :
    content: |
      this is my
      file content
